body,html{
	height: 100%;
	background: #E5E5E5;
}

.imagem-logo{
	margin: 40px 0 0 25px;
}

main{
	height: 76%;
	flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.primeiroBloco{
	display: flex;
	flex-direction: column;
}

.entradaTela{
	display: inline-block;
	position: relative;
	margin: 30px 90px 0 81px;
	padding: 15px;
	font-size: 25px;
	border: none;
	border-radius: 25px;
	resize: none;
	background: #E5E5E5;
}

.iconExclamacao{
	width: 16px;
    position: relative;
    margin: -35px 0px -19px 111px;
}

.avisoExclamacao{
	position: relative;
    margin: 0 0 17px 130px;
    font-size: 17px;
}

.btn-codificar{
	display: inline;
	margin: 0 15px 0 85px;
	width: 328px;
	height: 67px;
	border-radius: 25px;
	border: none;
	padding: 24px;
	font-size: 20px;
	color: #FFFFFF;
	background: #001C94;
	cursor: pointer;
	box-shadow: 0 8px 6px 0 #080061;
}

.btn-codificar:hover{
	background: #0B008A;
}

.btn-codificar:active{
	position: relative;
	top: 8px;
	box-shadow: none;
}

.btn-decodificar{
	margin: 0 0 15px 15px;
	width: 328px;
	height: 67px;
	border-radius: 25px;
	border: none;
	padding: 24px;
	font-size: 20px;
	color: #FFFFFF;
	background: #001C94;
	cursor: pointer;
    box-shadow: 0 8px 6px 0 #080061;
}

.btn-decodificar:hover{
	background: #0B008A;
}

.btn-decodificar:active{
	position: relative;
	top: 8px;
	box-shadow: none;
}

.saidaTela{
	width: 255px;
	height: 400px;
	border-radius: 25px;
	padding: 15px;
	resize: none;
	margin: 25px 100px;
	background: black;
	font-size: 18px;
    color: #dfdfdf;
}

.btnCopiar{
	position: absolute;
    margin: 347px -275px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    cursor: pointer;
    border: none;
    color: white;
    box-shadow: 0 1px 30px 0 #ffffff;
    opacity: 0;
    transition: 1s all;
}

.btnCopiar:hover{
	color: black;
    font-weight: bold;
    transform: scale3d(1.2, 1.2, 1.2);
    box-shadow: 0 1px 45px 0 #ffffff;
}

.meninoLupa{
    position: absolute;
    width: 260px;
    margin: 66px 114px;
}

.frameText{
    position: absolute;
    width: 285px;
    margin: 320px 101px;
}

footer{
	display: flex;
    align-items: center;
    justify-content: center;
	height: 3%;
	padding: 30px;
	background: #E5E5E5;
	font-size: 20px;
}

footer p {
	margin: 0 15px;
}

footer img{
	width: 40px;
    height: 40px;
}