.pesquisaG{
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    width: 51%;
}

.search-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 20px;
    background-color: whitesmoke;
}

.search-input{
    background-image: url("/src/assets/pesquisa.png");
    background-repeat: no-repeat;
    background-size: 4% 50%;
    background-position: center right 22px;
}

