body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: radial-gradient(circle at center, #404989 0%, #333333 100%);
  }
  
  header {
    display: flex;
    align-items: center;
    height: 9vh;
    width: 100%;
    background-color: #576cd1;
  }

  .espacamentoDiv{
    width: 20px;
  }
  
  .cabecalho {
    height: 9vh;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cabecalho-logo {
    color: white;
    font-size: 30px;
  }
  
  .container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 9vh;
    width: 70%;
  }
  
  .menu-Hamburguer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 10vh;
  }
  
  .cabecalho-navegacao {
    display: flex;
  }

  /* Esse é a criação do menu hamburguer e a barra que faz a divisão na header */
  
  .hamburguer {
    width: 35px;
    height: 35px;
    position: fixed;
    z-index: 1000;
    right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #444d6a;
    box-shadow: 10px 5px 15px 10px rgba -6px 26px 18px 10px rgba(0, 0, 0, 0.582);
    position: fixed;
    top: 0;
    right: 20rem;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    display: none;
  }
  
  .show-menu .hamburguer {
    right: 16rem;
  }
  
  .line {
    width: 100%;
    height: .1rem;
    padding: 1px;
    border-radius: 10px;
    background-color: white;
    transition: transform .3s;
  }
  
  .show-menu #line1 {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
  }
  
  .show-menu #line2 {
    opacity: 0;
  }
  
  .show-menu #line3 {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
  }
  
  .menu {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .menu-itens {
    padding: 10px 0%
  }
  
  .menu-link {
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    transition: all ease .7s;
  }
  
  .menu-link:hover {
    color: aqua;
    transition: color .7s;
  }
  /*criação da divisão dentro do sidebar*/

  .sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .navegacao{
    display: flex;
    height: 50vh;
    width: 100%;
  }

  .barLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100%;
  }

  .barMenu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 81vh;
    width: 100%;
  }

  .barFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
  }

 /* Esse é o fim da criação do menu hamburguer e a barra que faz a divisão na header */

 @media (max-width: 500px){
  .sidebar {
    width: 15rem;
    height: 90vh;
    background-color: #444d6a;
    position: fixed;
    top: -50px;
    right: 14rem;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    display: none;
  }

  .menu-link{
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    transition: all ease .7s;
  }
 }
