main{
    flex-grow: 1;
}

.boxTiles{
    display: grid;
    grid-template-columns: 20fr 20fr 20fr;
    grid-template-rows: 30vh 30vh;
    height: 67vh;
    margin: auto 8vh;
}


#idTiles{   
    margin: 10px;
}

.classTiles{
    background-color: white;
}

@media (max-width: 900px) {
    .boxTiles{
        display: grid;
        grid-template-columns: 20fr 20fr;
        grid-template-rows: 30vh 30vh 30hv;
        height: 67vh;
        margin: auto 8vh;
    }
}

@media (max-width: 500px) {
    .boxTiles{
        display: grid;
        grid-template-columns: 20fr;
        grid-template-rows: 30vh 30vh 30hv 30hv 30hv 30hv;
        height: 67vh;
        margin: auto 8vh;
    }
}


